.h3Element{
    margin-top: 5px;
    margin-bottom: 4px;
    font-size: 24px;
    font-weight: 400;
}

.aElement{
    color: #1756a9
}

.profile{
    display: flex;
    flex-direction: column;
}

/* The margin: auto property does not work by itself to center an element
horizontally or vertically when using flexbox.
The margin: auto property is primarily used to distribute the remaining space
evenly between flex items along the main axis. */
.previews {
    display: flex;
    justify-content: center;
    margin-right: 15%;
    margin-bottom: auto;
    margin-top: 100px;
}

.pagination {
    margin: 2% 10% auto 0%
}

.returnBtn {
    margin-right:5%;
}

.sub {
    font-size: 12px;
    margin-bottom: 3em;
}